/* -----------------------------------------------------
 * General 
 * ----------------------------------------------------- */
* {
  font-family: Sofia Pro, Roboto;
}

window#waybar {
  background-color: #16161E;
  /* background: transparknt; */
  /* transition-property: background-color; */
  transition-duration: 0.5s;
}


/* -----------------------------------------------------
 * Tooltips
 * ----------------------------------------------------- */

tooltip {
  border-radius: 10px;
  background: #211E27;
  padding: 20px;
}

tooltip label {
  color: #B8C2EC;
  font-size: 16px;
}


/* -----------------------------------------------------
 * Appmenu
 * ----------------------------------------------------- */

#custom-appmenu,
#custom-appmenuwlr {
  margin: 3px 1rem 3px 2rem;
  font-size: 22px;
  font-weight: bold;
  opacity: 0.8;
  color: #769EF1;
}

/* -----------------------------------------------------
 * Workspaces 
 * ----------------------------------------------------- */

#workspaces {
  background: #24283B;
  margin: 3px 1rem 3px 1rem;
  padding: 0px 1px;
  border-radius: 15px;
  font-weight: bold;
  opacity: 0.8;
  font-size: 16px;
}

#workspaces button {
  padding: 0px 5px;
  margin: 4px 3px;
  border-radius: 15px;
  border: 0px;
  color: #B8C2EC;
  transition: all 0.3s ease-in-out;
  opacity: 0.4;
}

#workspaces button.active {
  color: #DFAE67;
  border-radius: 15px;
  min-width: 30px;
  transition: all 0.3s ease-in-out;
  opacity: 1;
}

/* -----------------------------------------------------
 * Custom Quicklinks
 * ----------------------------------------------------- */

#custom-browser,
#custom-filemanager,
#custom-chatgpt,
#custom-calculator,
#custom-windowsvm {
  margin-right: 20px;
  font-size: 20px;
  font-weight: bold;
  opacity: 0.8;
}

#custom-filemanager {
  margin-left: 2rem;
  color: #D4E4BC;
}

#custom-browser {
  color: #F1D9A7;
}

#custom-chatgpt {
  color: #78AD9F;
}

#custom-calculator {
  color: #959597;
}

#custom-windowsvm {
  color: #2364AA;
}


/* -----------------------------------------------------
 * Hardware Group
 * ----------------------------------------------------- */

#disk,
#memory,
#cpu {
  margin: 0px;
  padding: 0px;
  font-size: 18px;
  color: #b8c2ec;
}

#cpu {
  margin-left: 2rem;
}

/* -----------------------------------------------------
 * Clock
 * ----------------------------------------------------- */
#clock {
  font-size: 28px;
  font-weight: bold;
  color: #b8c2ec;
  padding: 1px 10px 0px 10px;
  margin: 3px 15px 3px 0px;
  opacity: 0.8;
}

/* -----------------------------------------------------
 * Tray
 * ----------------------------------------------------- */
#tray {
  margin: 3px 15px 3px 1rem;
  padding: 2px 15px 0px 10px;
  border-radius: 15px;
  background: #24283B;
}

/* -----------------------------------------------------
 * Pulseaudio
 * ----------------------------------------------------- */

#pulseaudio {
  font-size: 18px;
  color: #C7D3BF;
  margin: 5px 25px 5px 1rem;
}

#pulseaudio.muted {
  color: #E8939A;
  font-size: 24px;
}


/* -----------------------------------------------------
 * Bluetooth
 * ----------------------------------------------------- */

#bluetooth,
#bluetooth.on,
#bluetooth.connected {
  font-size: 16px;
  color: #7AA2F7;
  margin: 5px 25px 5px 0px;
}

#bluetooth.off {
  background-color: #b8c2ec;
}

/* -----------------------------------------------------
 * Backlight
 * ----------------------------------------------------- */
#backlight {
  font-size: 18px;
  color: #E0AF68;
  margin: 5px 25px 5px 0px;
}

/* -----------------------------------------------------
 * Network
 * ----------------------------------------------------- */
#network {
  font-size: 18px;
  color: #658E9C;
  margin: 5px 25px 5px 0px;
}

#network.disconnected {
  color: #E8939A;
}


/* -----------------------------------------------------
 * Battery
 * ----------------------------------------------------- */

#battery {
  font-size: 18px;
  color: #9ECE6A;
  margin: 5px 25px 5px 0px;
}

#battery.charging,
#battery.plugged {
  color: #F5BD0A;
}

@keyframes blink {
  0%   { opacity: 1; } 
  50%  { opacity: 0; } 
  100% { opacity: 1; } 
}

#battery.critical:not(.charging) {
  background-color: #f53c3c;
  color: #f53c3c;
  animation: blink 1s linear infinite;
}



/* -----------------------------------------------------
 * Custom Exit
 * ----------------------------------------------------- */

#custom-exit,
#custom-exitwlr {
  margin: 0px 20px 0px 0px;
  font-size: 20px;
  color: #E8939A;
}

/* -----------------------------------------------------
 * Other
 * ----------------------------------------------------- */

label:focus {
  background-color: #000000;
}

/* #backlight { */
/*   background-color: #90b1b1; */
/* } */

